@require 'lib/helpers'
@require 'lib/foundation'



body
  padding 1rem
  background #F4F3F3

// <track-list> - 6 групп параметров
.container
  display grid

  // ~ + mixin __ на значение 209px
  //grid-template-rows 100px repeat(2, 4fr) 70px
  //grid-template-rows repeat(3, minmax(209px, auto)) -> небольшой хак - добавил вместо одного параметра - два включая max-content -< можно без этого параметра
  // 3 rows -> grid-template-rows __ minmax(max-content, 209px) minmax(max-content, 209px) minmax(max-content, auto) __ -< апробация ^ свертка
  grid-template-rows repeat(3, minmax(209px, auto)) max-content

  grid-auto-rows 200px
  grid-gap 1rem
  box-sizing border-box

  // -> func auto__size__columns___~2()
  //padding 2px

  //height 100%
  height max-content

  border 2px solid black
  align-content center
  justify-content center
  align-items center




@media (min-width 48em)
  body
    padding 0

@media (max-width 18.75em)
  html
    font-size 5.5vw
