@require 'lib/helpers'
@require 'lib/foundation'



body
  padding 1em
  background #F4F3F3

// <track-list>
.container
  display grid
  // ~ + mixin __не проеби
  //grid-template-rows 100px repeat(2, 4fr) 70px
  grid-template-rows repeat(3, minmax(209px, auto))
  grid-auto-rows 200px
  // -> func auto__size__columns___~1()
  gap 3px
  box-sizing border-box
  // -> func auto__size__columns___~2()
  //padding 2px
  //width auto
  //height 100%
  border 2px solid black
  align-content center
  justify-content center
  align-items center



@media (min-width 48em)
  body
    padding 0

@media (max-width 18.75em)
  html
    font-size 5.5vw
