extends layout

block append html
  doctype html
  html(lang='ru')
    head
        title ~
        include meta
        link(rel='stylesheet' href=`css/bundle.min.${cacheBust}.css`)
    body.container
        block body
